@import "normalize.css";

:root {
  --main-bg: rgba(206, 205, 205, 0.985);
  --main-color: #4267b2;
  --txt-main-color: #000;
  --txt-second-color: #8d8d8d;
  --txt-white: #fff;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  .content {
    margin-top: 85px;
    background-color: var(--main-bg);
  }
}

body {
  text-rendering: optimizeSpeed;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}
.directions {
  color: #000;
  letter-spacing: 1.4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  &:after {
    content: " ";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    background-color: #000;
  }
  &:hover {
    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
.banner {
  color: #ffffff;
  font-family: surveyor text a;
  font-size: 70px;
  font-weight: 300;
  line-height: 70px;
  margin: 0px 0px 7px;
  text-align: center;
}
.title {
  font-family: surveyor text a;
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
}
.slogan {
  color: #a0a0a0;
  font-weight: 300;
  letter-spacing: 0.8px;
  text-align: center;
}
.btn {
}
