.wallpaper-shop {
  .img-wallpaper {
    width: 100%;
    background-image: url("/image/4645999.jpg");
    img {
      display: block;
      // width: auto;
      // height: auto;
      object-fit: cover;
      object-position: center center;
      width: 100%;
      //   height: 530px;
      padding-bottom: 30px;
      min-height: 400px;
    }
  }
}
