.wallpaper-shop {
  .img-wallpaper {
    width: 100%;
    img {
      display: block;
      // width: auto;
      // height: auto;
      background-size: contain;
      background-position: center center;
      width: 100%;
      height: 530px;
      padding-bottom: 30px;
      //   min-height: 400px;
    }
  }
}
