.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  .menu-left {
    display: flex;
    .explore {
      padding-left: 10%;
    }
  }
  .logo {
    img {
      width: auto;
      height: 200px;
    }
  }
}
