.product {
  display: flex;
  flex-wrap: wrap;
}
.product-item {
  background-color: rgba(73, 126, 187, 0.2);
  width: calc(100% / 5 - 10px);
  box-shadow: var(--box-shadow);
  margin: 5px;

  border-radius: 20px 40px;
  position: relative;
  &:hover {
    .product-item__info {
      .product-item__btnView {
        z-index: 1;
        top: -66px;
      }
      .product-item__btnAdd {
        z-index: 1;
        bottom: -8px;
      }
    }
  }
  .product-item__img {
    width: 100%;
    height: 450px;
    border-radius: 20px 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .product-item__info {
    position: relative;
    .product-item__content {
      .product-item__title {
        color: #a0a0a0;
        font-family: din-2014;
        font-size: 15px;
        letter-spacing: 0.7px;
        line-height: 21px;
        margin: 22.4px 0px 0px;
        text-align: center;
        text-transform: capitalize;
        font-weight: 600;
      }
      .product-item__description {
        margin: 10px;
        text-align: justify;
        text-align-last: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
    .product-item__btnAdd {
      // display: none;
      // top:0;
      position: absolute;
      padding: 10px 0;
      width: 100%;
      background-color: #144584;
      text-align: center;
      border-radius: 20px 40px 20px 40px;
      color: var(--txt-white);
      bottom: -30px;
      transition: all 500ms;
      z-index: -1;
      cursor: pointer;
    }
    .product-item__btnView {
      top: 52%;
      padding: 10px 0;
      background-color: rgba(46, 129, 181, 1);
      width: 100%;
      text-align: center;
      color: var(--txt-white);
      position: absolute;
      top: 0;
      z-index: -1;
      // transition: transform 500ms;
      // transform: translateY(10px);
      transition: all 500ms;
      cursor: pointer;
    }
  }
}
.popup {
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // width: 100%;
  // height: 100vh;
  // background-color: rgba (0, 0, 0, 0.2);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // z-index: 1;
}
.popup__image {
  width: 50%;
  height: 100%;
  padding: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.popup-info {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &__name-product {
    font-size: 22px;
    color: var(--main-color);
  }
  &__price-product {
    font-size: 20px;
    color: #000000;
    font-weight: 600;
  }
  &__sku-product {
    font-size: 14px;
    color: var(--txt-second-color);
  }
  &__quantity-product {
    &__txt {
      margin-bottom: 10px;
      color: var(--txt-second-color);
    }
    input[type="number"] {
      width: 70px;
      height: 50px;
      outline: none;
      // border: none;
      box-shadow: var(--box-shadow);
    }
  }
  .directions {
    span {
      width: fit-content;
    }
  }
}
