.wallpaper-shop {
  height: 100%;
  .img-wallpaper {
    // width: 100%;
    background-image: url("./4645999.jpg");
    height: 650px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    // img {
    //   display: block;
    //   object-fit: cover;
    //   object-position: center center;
    //   width: 100%;
    //   padding-bottom: 30px;
    //   min-height: 400px;
    // }
  }
  .txt-wallpaper {
    text-align: center;
    position: absolute;
    top: calc(650px / 2);
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    .directions {
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      font-weight: 700;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      cursor: pointer;
      &:after {
        content: " ";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover {
        &:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}
